
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Ubuntu&display=swap');
body {
    margin:auto;
    width: 1024px;
    background-color: #f5e9d9;
}

.heading{
    margin-top: 50px;   
   

}

.retsept-heading{
    color: rgb(17, 79, 131);
    font-family: 'Acme', sans-serif;
    font-size: 2rem;
    text-align: center;

}

.koostisosa-heading{
    color: rgb(106, 8, 172);
    font-family: 'Acme', sans-serif;

}

.sisu{
    color: rgb(46, 43, 49);
    font-size: 1rem;
    font-family: 'Ubuntu', sans-serif;
    line-height: 20px;


}

table{
    width:60%
}
th, td{
    text-align: left;
    border-bottom: 1px solid rgb(180, 175, 175);
}

.pildid {
    width: 80%;
    margin: 1rem auto;
}

a {
    color: rgb(219, 89, 154);
    font-weight: bold;
  }

img {
    display: inline;
    margin-left: auto;
    margin-right: 23px;
    width: 30%;
    border-radius: 10px;
  }

  .footer{
    color: rgb(39, 18, 230);
    font-size: 1rem;
    font-family: 'Ubuntu', sans-serif;
  }